<div id="admin_nav">
    <ul>
        <li><a href="#/addPlayer">Add player</a></li>
        <li><a href="#/editPlayers">Edit players</a></li>
        <li><a href="#/addMatch">Add match</a></li>
        <li><a href="#/editMatches">Edit matches</a></li>
        <li><a href="#/addTeam">Add team</a></li>
        <li><a href="#/editTeams">Edit teams</a></li>
        <li><a href="#/addTournament">Add tournament</a></li>
        <li><a href="#/editTournaments">Edit tournaments</a></li>
    </ul>
</div>
