<section class="playersContainer">
    
    <h1>Players</h1>

    <input class="searchfield" type="text" ng-model="searchPlayers" placeholder="Search players">
    <p class="info">Click the player you want to edit</p>

    <table>
        <tr>
            <th>Name</th>
            <th></th>
            <th>Score</th>
            <th>Team</th>
            <th>Matches played</th>
        </tr>
        <tr ng-repeat="player in players| filter:searchText | orderBy:sortorder">
            <td>
                <a href="#/editPlayer/{{ player.id}}"> {{player.id}} {{ player.username}} </a> 
            </td>
            <td><img src="app/resources/flags/{{player.countrycode}}.png" alt="{{player.country}}" title="{{player.country}}"></td>
            <td>{{ player.display_rating}}</td>
            <td>
                <a href="#/team/{{ player.team_id}}">{{ player.team_name}} </a> 
            </td> 
            <td>{{player.count}}</td>
        </tr>
    </table>

     <p class="info">{{status}}</p>
</section>

