
<section id="matchesContainer">
    <h1>Matches</h1>
    <p class="search"> <input class="searchfield" type="text" placeholder="Search matches" ng-model="searchText"></p>
    <p>Click the match time to view match details</p>



    <table id="matchTable">
        <button ng-click="spoilers()">Click here to show all winning teams</button>
        <tr>
            <th ng-click="changeSorting('match_time_start')" style="cursor: pointer;"> Start time </th>
            <th ng-click="changeSorting('team_1_name')" style="cursor: pointer;"> Team 1 </th>
            <th ng-click="changeSorting('team_2_name')" style="cursor: pointer;"> Team 2 </th>
            <th ng-click="changeSorting('winning_team')" style="cursor: pointer;"> Winning team </th>
            <th ng-click="changeSorting('tournament_id')" style="cursor: pointer;"> Tournament </th>
        </tr>
        <tr ng-repeat="match in matches| filter:searchText | orderBy:sort.column:sort.descending" >
            <!--such-href="/match/{{match.id}}"-->
            <td><a href="#/match/{{match.id}}"> {{ match.match_time_start}}</a></td>
            <td><a href="#/team/{{match.team_1_id}}">{{ match.team_1_name}}</a></td>
            <td><a href="#/team/{{match.team_2_id}}">{{ match.team_2_name}}</a></td>
            <td ng-click="showRow($index)" style="cursor:pointer"><span id="hide{{$index}}">Click to show</span><a href="#/team/{{match.winning_team_id}}" name="hidden" style="display:none" id="row{{$index}}">{{ match.winning_team}}</a></td>
            <td><a href="#/team/{{match.tournament_id}}">{{ match.tournament_name}}</a></td>
        </tr>
    </table>

    <p class="info">{{status}}</p>
</section>
