<section id="teamsContainer">
    <h1>Teams</h1>

    <input class="searchfield" type="text" ng-model="searchTeams" placeholder="Search teams">
    <p class="info">Click a team for more information</p>

    <table>
        <tr>
            <th ng-click="changeSorting('team_name')" style="cursor: pointer;">Team</th>
            <th ng-click="changeSorting('count')" style="cursor: pointer;">Number of matches</th>
        </tr>
        <tr ng-repeat="team in teams| filter:searchTeams | orderBy:sort.column:sort.descending" such-href="/team/{{team.id}}">
            <td>
                <a href="#/team/{{team.id}}"> {{ team.team_name}} </a> 
            </td>
            <td>{{team.count}}</td>
        </tr>
    </table>

    <p class="info">{{status}}</p>


</section>