<section class="tournamentContainer">
    <h1>{{tournament.data[0].tournament_name}}</h1>    

    <p>Click a match for match details</p>
    <table>
        <tr ng-repeat="match in matches| filter:searchText | orderBy:sortorder" such-href="/match/{{match.id}}">
            <td>
                <a href="#/match/{{ match.id}}"> 
                    {{match.match_time_start}} - <span class="team">{{match.team_1_name}}</span> <span class="vs">vs</span> <span class="team">{{match.team_2_name}}</span>
                </a>
            </td>
        </tr>
    </table>

    <p class="info">{{status}}</p>
    <p class="info">{{matchStatus}}</p>
</section>