
<section class="tournamentsContainer">
    <h1>Tournaments</h1>
    
    <input class="searchfield" type="text" ng-model="searchTournaments" placeholder="Search tournaments">
    <p class="info">Click a tournament for detailed information</p>

    <table>
        <tr>
            <th ng-click="changeSorting('tournament_name')" style="cursor: pointer;">Name</th>
        </tr>
        <tr ng-repeat="tournament in tournaments| filter:searchTournaments | orderBy:sort.column:sort.descending" such-href="/editTournament/{{tournament.id}}">
            <th>{{ tournament.tournament_name}}</th>     
        </tr>
    </table>

    <p class="info">{{status}}</p>
</section>