<div id="admin_nav">
    <ul>
        <li><a href="#/editPlayers">Edit players</a></li>
        <li><a href="#/addPlayer">Add players</a></li>
        <li><a href="#/editMatches">Edit matches</a></li>
        <li><a href="#/addMatch">Add matches</a></li>
        <li><a href="#/editTeams">Edit teams</a></li>
        <li><a href="#/addTeam">Add teams</a></li>
        <li><a href="#/editTournaments">Edit tournaments</a></li>
        <li><a href="#/addTournament">Add tournaments</a></li>
    </ul>
</div>
