<header ng-app>
    <div id='admin'>
        <a href="#/login">Login</a> </div>
    <nav id="menu">
        <!--        <img id="dota2logo" src="app/resources/dota2/Logo_Dota_2.png" alt="Dota 2">-->
        <!--image source: http://vignette3.wikia.nocookie.net/theamazingworldofgumball/images/d/dd/Logo_Dota_2.png/revision/latest?cb=20130329094246-->
        <ul>
            <li><img id="dota2logo" src="app/resources/dota2/Logo_Dota_2.png" alt="Dota 2"></li>
            <li><a href="#/players">Rankings</a></li>
            <li><a href="#/addPlayer">Add player</a></li>
            <li><a href="#/matches">Matches</a></li>
            <li><a href="#/addMatch">Add match</a></li>
            <li><a href="#/teams">Teams</a></li>
            <li><a href="#/addTeam">Add team</a></li>
            <li><a href="#/tournaments">Tournaments</a></li>
            <li><a href="#/addTournament">Add tournament</a></li>
        </ul>
    </nav>
</header>
