<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/styles.css">
        <title>Esport Ratings</title>
    </head>

    <body>
        
        <h1>LoL</h1>

        <form action="/buttons" method="POST">
            <p><input type="submit" name="leagues" value="Leagues"></p>
            <p><input type="submit" name="teams" value="Teams"></p>
            <p><input type="submit" name="players" value="Player stats"></p>
            <p><input type="submit" name="test" value="Testing"></p>
        </form>

        <ul>
            {% for item in items %}
            <li>{{ item }}</li>
            {% endfor %}
        </ul>
        
    </body>
</html>