html, body{
    height: 100%;
    overflow: hidden;
    background-color: #090909 !important; 
    //#191919
    //#231F20
}

body{
    /*        background: url("app/resources/noise.jpg") no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;*/
    padding-top: 10em;
}

#page-wrap{
    // margin-top: 70px;
    overflow-y: scroll; 
    height: 100%;
}

#container{
    margin: 0 auto;
    width: 1100px; 
    min-height: 100%;
    color: #DBDBDB; 
    //background-color: #050E15;
}

@font-face {
    font-family: TrajanusBricks;
    src: url(app/resources/fonts/TrajanusBricks.ttf);
}

@font-face {
    font-family: Steinerlight;
    src: url(app/resources/fonts/Steinerlight.ttf);
}

header{
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: #090909;
    height: 150px;
    padding-top: 12.5px;
}

#menu{
    //width: 100%;
    /*background-color: #231F20;*/ 
    background-color: #090909; 
    height: 125px;
    line-height: 125px;
    /*color: #978275;*/ 
    color: #AB2A30;
    font-size: 20px;
    /*font-family: TrajanusBricks;*/
    font-family: Steinerlight; 
    text-align: center; 
    text-transform: lowercase;
    border-bottom-style: dashed;
    border-top-style: dashed;
    border-color: black;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

aside{
    float: left; 
    padding-top: 70px; 
}

aside a, aside a:link, aside a:visited, aside a:hover, aside a:visited:hover, aside a:active {
    color: #AB2A30;
}

#admin_nav ul{
    list-style-type: none; 

}

#menu ul{
    display: inline-block; 
    position: relative; 
    width: 60em; 
}

#menu ul li {
    display: inline; 
    padding: 10px;
}

#menu a, #menu a:link, menu a:visited, #menu a:hover, #menu a:visited:hover, #menu a:active {
    color: #AB2A30;
}

/* SORTABLE */

table {
    width: 900px;
}

table {
    border-collapse: collapse;
}
table th, table td {
    text-align: left;
    padding: 2px 12px 2px 4px;
    border-style: none;
    font-size: 20px;
}
/*table th {
    background-color: #2A4F62;
}*/

table tr.odd td {
    background-color: #336075;
    color: #DBDBDB;
}
table tr.even td {
    background-color: #2A4F62;
    color: #DBDBDB;
}

/* END SORTABLE */

/* SEARCH */

.searchfield{
    float: right; 
    padding: 5px;
    padding-right: 2em;
    background: #DBDBDB url(app/resources/search.png) 11.3em no-repeat;
    background-size: 15px 15px;
    border: solid 1px black;
    border-radius: 5px; 
    width: 13em; 
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    gray;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    gray;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    gray;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    gray;
}


/* END SEARCH */
/*
#ranking_container {
    margin: 0 auto;
    width: 1100px; 
    min-height: 90%;
    color: #DBDBDB; 
    background-color: #090909;
    padding-top: 25px;
    padding-right: 50px; 
    padding-left: 50px;
    padding-bottom: 70px; //top right bottom left 
}*/


/*#matches_container {
    margin: 0 auto;
    width: 100%; 
    min-height: 90%;
    color: #DBDBDB; 
    background-color: #090909;
    padding-top: 25px;
    padding-right: 50px; 
    padding-left: 50px;
    padding-bottom: 70px; 
}*/

#addPlayerContainer{
    color: lightgray;    
    width: 440px;
    padding-top: 20px; 
}

#addPlayerContainer label{
    padding-right: 30px;
    color: #9E8F84;
}

#addPlayerContainer input, #addPlayerContainer label{
    // display: block;
}

#addPlayerContainer input {
    margin-bottom: 1.5em; 
}

#addPlayerContainer .form_group{
    float:right;
    clear: both;
}

.matchContainer input[type=text],
.matchContainer input[type=number],
.matchContainer input[type=datetime-local],
#addTournamentContainer input[type=text],
#addMatchContainer input[type=text],
#addTeamContainer input[type=text],
#addTournamentContainer input[type=number],
#addMatchContainer input[type=number],
#addTeamContainer input[type=number],
#addPlayerContainer input[type=text], 
#addPlayerContainer input[type=url], 
#addPlayerContainer input[type=number] {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border: 1px solid #978275;
    outline: none;
    color: #494949;
    padding: 5px 8px 5px 8px;
    box-shadow: inset 1px 1px 4px #896F5B;
    -moz-box-shadow: inset 1px 1px 4px #896F5B;
    -webkit-box-shadow: inset 1px 1px 4px #896F5B;
    background: #9E8F84;
    width:20em;
} 

.matchContainer input[type=submit],
.matchContainer input[type=button],
#addTournamentContainer input[type=button],
#addMatchContainer input[type=button],
#addTeamContainer input[type=button],
#addTournamentContainer input[type=submit],
#addMatchContainer input[type=submit],
#addTeamContainer input[type=submit],
#addPlayerContainer  input[type=submit],
#addPlayerContainer  input[type=button]{
    background: #978275;
    border: 1px solid #896F5B;
    padding: 5px 15px 5px 15px;
    color: #494949;
    box-shadow: inset -1px -1px 3px #7E7167;
    -moz-box-shadow: inset -1px -1px 3px #7E7167;
    -webkit-box-shadow: inset -1px -1px 3px #7E7167;
    border-radius: 3px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;    
    font-weight: bold;
}

/*#addMatchContainer .form_group{
    float:right;
    clear: both;
}*/

#addMatchContainer input[type=text], 
#addMatchContainer input[type=url], 
#addMatchContainer input[type=number], 
#addMatchContainer input[type=date]{
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border: 1px solid #978275;
    outline: none;
    color: #494949;
    padding: 5px 8px 5px 8px;
    box-shadow: inset 1px 1px 4px #896F5B;
    -moz-box-shadow: inset 1px 1px 4px #896F5B;
    -webkit-box-shadow: inset 1px 1px 4px #896F5B;
    background: #9E8F84;
    width:20em;
} 

#addMatchContainer  input[type=submit],
#addMatchContainer  input[type=button]{
    background: #978275;
    border: 1px solid #896F5B;
    padding: 5px 15px 5px 15px;
    color: #494949;
    box-shadow: inset -1px -1px 3px #7E7167;
    -moz-box-shadow: inset -1px -1px 3px #7E7167;
    -webkit-box-shadow: inset -1px -1px 3px #7E7167;
    border-radius: 3px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;    
    font-weight: bold;
}

.matchContainer #winnerchx li {
    list-style-type: none!important; 
    padding: 0 !important; 
}

.matchContainer #t1l li, .matchContainer #t2l li {
    list-style-type: none!important; 
    padding: 0 !important; 
}

.matchContainer{
    width: 41em;
    margin: 0 auto;
}

.matchContainer #team2list{
    float: left; 
}

.matchContainer #team2list{
    float: right; 
}

.matchContainer #t1l{
    display: inline !important;
}

.matchContainer #t2l{
    display: inline !important;
}

.matchContainer ul{
    display: inline-block!important; 
}

.matchContainer #team_1, .matchContainer #team_2{
    display: inline-block!important; 
}

.matchContainer #start_time, .matchContainer #end_time{
    display: inline-block!important;  
}

.matchContainer #team1list, .matchContainer #team2list{
    display: inline-block!important; 
}

.matchContainer #newplayer1, .matchContainer #newplayer2{
    display: inline-block!important; 
}

.matchContainer #tournament, .matchContainer .submit{
    display: inline-block!important; 
}

#addMatchContainer #team0, #addMatchContainer #team1label, #addMatchContainer #team1input, #addMatchContainer #team1list, #addMatchContainer #team1list, #addMatchContainer #newplayer1{
    clear:both; 
    display: block; 
    float: left;  
} 

#addMatchContainer #team1, #addMatchContainer #team2label, #addMatchContainer #team2input, #addMatchContainer #team2list, #addMatchContainer #team2list, #addMatchContainer #newplayer2{

    display: block; 
    float: right; 
}

#addMatchContainer, .tournamentsContainer{
    color: lightgray;    
    width: 700px;
    padding-top: 20px; 
}

.tournamentsContainer, #teamsContainer{
    width: 50em;
    margin: 0 auto;
}

#editMatchesContainer, #matchesContainer{
    width: 90em;
    margin: 0 auto;
}

#teamsContainer table{
    width: 50em !important;
}

#playerContainer, #editPlayerContainer, #addTeamContainer, #addTournamentContainer{
    width: 40em;
    margin: 0 auto;
}

#playerContainer h1, #playerContainer .teamname{
    display: inline;  
    line-height: 2em; 
}

#playerContainer .rank{
    font-size: 1.5em; 
}

#playerContainer p:not(.info):not(.exclude){
    margin: 0 !important;
    padding: 0 !important; 
}

#editPlayerContainer p{
    margin: 0.2em !important;
    padding: 0.2em !important; 
}

#playerContainer img{
    float: right; 
}


/*#editPlayerContainer img, #editPlayerContainer .imageurl{
    float: right; 
}*/

#playerContainer a, #playerContainer a:link, #playerContainer a:visited, #playerContainer a:hover, #playerContainer a:visited:hover, #playerContainer a:active {
    color: #9E8F84;
}

#matchesContainer a, #matchesContainer a:link, #matchesContainer a:visited, #matchesContainer a:hover, #matchesContainer a:visited:hover, #matchesContainer a:active {
    color: #9E8F84;
}

#editMatchesContainer a, #editMatchesContainer a:link, #editMatchesContainer a:visited, #editMatchesContainer a:hover, #editMatchesContainer a:visited:hover, #editMatchesContainer a:active {
    color: #9E8F84;
}

.bold{
    font-weight: bold; 
}

.tournamentContainer a, .tournamentContainer a:link, .tournamentContainer a:visited, .tournamentContainer a:hover, .tournamentContainer a:visited:hover, .tournamentContainer a:active {
    color: #9E8F84;
}

#teamsContainer a, #teamsContainer a:link, #teamsContainer a:visited, #teamsContainer a:hover, #teamsContainer a:visited:hover, #teamsContainer a:active {
    color: #9E8F84;
}

.tournamentContainer{
    width: 60em;
    margin: 0 auto;
}

#teamContainer{
    color: #9E8F84;
    width: 50em;
    margin: 0 auto;
}

#matchesContainer table, #editMatchesContainer table{
    width: 90em;
}

#matchesContainer, #editMatchesContainer{
    color: #9E8F84;
}

#matchesContainer td, #editMatchesContainer td{
    font-size: 1.3em;
}

#teamContainer table, #teamsContainer table{
    width: 30em;
    color: #9E8F84;
}

#teamContainer table tr:nth-child(even){
    background-color: #4d3f3f !important; 
}

#matchesContainer table tr:nth-child(even){
    background-color: #4d3f3f !important; 
}
/*#teamContainer table tr:nth-child(even){
    background-color: #4d3f3f !important; 
}*/

/*.tournamentContainer table tr:nth-child(even){
    color: #9E8F99 !important; 
}*/

.tournamentContainer table .vs{
    color: #AB2A30;
    font-size: 1em; 
}

.tournamentContainer table .team{
    font-weight: bold; 
}

.tournamentsContainer ul, #teamsContainer ul{
    list-style-type: none; 
    font-size: 1.2em;
    padding: 0; 
}

.tournamentsContainer a, .tournamentsContainer a:link, .tournamentsContainer a:visited, .tournamentsContainer a:hover, .tournamentsContainer a:visited:hover, .tournamentsContainer a:active {
    color: #9E8F84;
}

#teamContainer a, #teamContainer a:link, #teamContainer a:visited, #teamContainer a:hover, #teamContainer a:visited:hover, #teamContainer a:active {
    color: #9E8F84;
}

h1{
    font-family: Steinerlight !important;
    font-size: 2em;
    color: #9E8F84; 
}

h2{
    font-family: Arial !important;
    //font-size: 1em;
    color: #9E8F84; 
}

p, .matchContainer label{
    padding-top: 1em;
    font-family: Helvetica;
    font-size: 1em;
    padding-bottom: 10px;
    color: #9E8F84; 
}

.info{
    font-style: italic !important; 
}