<h3> Player view </h3>

<div>Status: {{status}}</div><br>

<div>
  Username: <a href="#" editable-text="player.data[0].username">{{player.data[0].username || "empty" }}</a> <br>
  Team id: <a href="#" editable-text="player.data[0].id">{{player.data[0].id || "empty" }}</a>
  
  Team name: 
  <a href="#" editable-text="player.data[0].team_name" onbeforesave="validateInput($data)" e-typeahead="team.team_name for team in teams | filter:$viewValue | limitTo:8">
      {{ player.data[0].team_name || "empty" }}
  </a>
</div> 