<h3> Players view </h3>

<div>Status players: {{status}}</div><br>
<div>Status teams: {{statusTeams}}</div><br>

Search: <input type="text" ng-model="searchText">


<ul>
    <li ng-repeat="player in players| filter:searchText | orderBy:'username'">
        <a href="#/player/{{player.id}}"> 
        {{ player.username}} - {{ player.team_name}} - {{player.display_rating}}
        </a> 
        <!-- <button has-role="write" ng-click="editPlayer(player.id)">
             &times;
         </button> -->
    </li>
</ul>

<ul>
    <li ng-repeat="team in teams| filter:searchText | orderBy:'id'">
        {{ team.id}} - {{ team.team_name}}
    </li>
</ul>

<div>
    New player:<br>
    <form ng-submit="addPlayer()">
        <input ng-model="newPlayer.username" type="text" placeholder="Username">
        <input ng-model="newPlayer.team_id" type="number" placeholder="Team id">
        <input type="submit" value="Add Player" ng-disabled="!newPlayer.username || !newPlayer.team_id">
    </form>
</div>
