{% extends "layout.html" %}

{% block content %}
<h2>Add player</h2>

<!-- {% if success %}
   <p>Player is successfully added.</p>

 {% else %}
   
   {% for message in form.username.errors %}
     <div class="flash">{{ message }}</div>
   {% endfor %}

   {% for message in form.user_id.errors %}
     <div class="flash">{{ message }}</div>
   {% endfor %}

   {% for message in form.team_id.errors %}
     <div class="flash">{{ message }}</div>
   {% endfor %}

   <form action="{{ url_for('addplayer') }}" method=post>
     {{ form.hidden_tag() }}

     {{ form.username.label }}
     {{ form.username }}

     {{ form.user_id.label }}
     {{ form.user_id }}

     {{ form.team_id.label }}
     {{ form.team_id }}

     {{ form.submit }}
   </form>

 {% endif %}
 </div> -->

<div ng-app ng-controller="Hey">
    <form novalidate>
        Username:<br>
        <input type="text" ng-model="user.username"><br>
        <button ng-click="doRequest()">Find player</button>
    </form>
    <ul ng-repeat="n in name">
        <li>Name: {{'{{name[0].username}}'}}, rating: {{'{{name[0].display_rating}}'}}</li>
    </ul>
</div>

<div ng-app ng-controller="Ho">
    <button ng-click="doRequest()">List players</button>
    <ul ng-repeat="name in names">
        <li>Name: {{'{{name.username}}'}}, rating: {{'{{name.display_rating}}'}}, Team: {{'{{name.team_name}}'}}</li>
    </ul>
</div>

<div ng-app="myApp" ng-controller="formCtrl">
    <form novalidate>
        Player ID:<br>
        <input type="number" ng-model="user.player_id"><br>
        Username:<br>
        <input type="text" ng-model="user.username"><br>
        Team_id:<br>
        <input type="number" ng-model="user.team_id">
        <br><br>
        <button ng-click="doRequest()">Submit</button>
        <button ng-click="reset()">RESET</button>
    </form>
    <p>form = {{'{{user}}'}}</p>
</div>

{% endblock %}